node_modules/
.pnpm-store/
.next/
*.tsbuildinfo
.turbo/
out/
dist/
.env*
!.env.example
*.tfstate
*.tfstate.*
*.tfplan
*.zip
.terraform/
*.tfvars
!*.tfvars.example
infra/bootstrap/backend.s3.tf
.DS_Store
